@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Nova+Mono&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@media(max-width:800px){
    .logo{
        
        font-size: 20px;
    }
}
@media(max-width:700px){
    .logo{
        
        font-size: 15px;
    }
}
@media(max-width:650px){
    .logo{
       
        font-size: 12px;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body{
    background: rgb(7, 4, 26);
    
}
li,a{
    font-family: 'Nova Mono', monospace;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

header{ 
    height: 50px;
    align-items: center;
    font-family: 'Rock Salt', cursive;
    font-weight: bolder;
    font-size: 15px;
    display: flex;
    text-align: center;
    justify-content: flex-end;
    color: rgba(118, 248, 216, 0.822);
    padding: 30px 5px;
    border-bottom: 2px solid antiquewhite;
}
header:hover{
    color: antiquewhite;
    border-bottom-color: rgb(49, 189, 189);
    background-color: rgb(0, 0, 0);
    padding: 30px 0;
}
.header{
    margin-right: auto;
    margin-left: 20px;
}
.home-logo img:hover{
    border-radius: 50%;
    background-color: rgba(0, 255, 255, 0.849);
    box-shadow:   0 0 1px 1px rgba(0, 255, 255, 0.849);
}
.links{
    
    list-style: none;
}
.links li{
    padding: 0 10px;
    display: inline-block;
}
.a1z26,.home,.atbash,.ceaser{
    
    color: aliceblue;
    transition: all 0.3s ease 0s;
}
.vigenere{
    font-size: large;
    color: rgb(187, 59, 59);;
}
.links a:hover{
    color: aqua;
    font-size: larger;
    font-weight: bolder;
    border-bottom: 2px solid whitesmoke;
}
.gh-logo{
    margin-right: 10px;
    margin-left: 20px;
    transition: all 0.3s ease 0s;
    border-radius: 50%;
}
.gh-logo img:active{
    transform: translateY(2px);
}
.gh-logo img:hover{
    border-radius: 50%;
    background-color: rgba(0, 255, 255, 0.849);
    box-shadow:   0 0 1px 1px rgba(0, 255, 255, 0.849);
}

.title{
    
    
    text-align: center;
    margin: 20px 0;
}
.title h1{
    font-family: 'Press Start 2P', cursive;
    color: antiquewhite;
}
.info{
    color: aliceblue;
    background-color: #80838686;
    
    font-family: 'Fredoka One', cursive;

    padding: 8px 5px;
    margin: 50px 40px;
    border-radius: 10px;

}

input[type=text]{
    
    height: 100px;
    margin-top: 5px;
    
    
    text-align: center;
    border-radius: 15px;
    font-family: 'Fredoka One', cursive;
    width: 70%;
    background-color: rgb(102, 145, 146);
    
    color: #181515;
    font-size: medium;
}
.textboxes{
    padding: 3px;
    text-align: center;
}
.textboxes div{
    margin: 10px 0;
}


.bttn{
    text-align: center;
}
.btn {
    margin-top: 5px;
    font-family: 'Fredoka One', cursive ;
    text-transform: uppercase;
    background: rgb(12, 12, 12);
    color: rgb(255, 250, 250);
    padding: 0.375rem 0.75rem;
    
    display: inline-block;
    font-weight: 700;
    box-shadow: 0 5px rgb(44, 43, 43);
    font-size: 0.875rem;
    border: 2px solid rgb(219, 224, 224);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(7, 124, 124, 0.2);
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .btn:hover {
      border: 2px solid rgb(187, 59, 59);
    color: black;
    background: rgb(89, 202, 185);
  }
.btn:active{
    transform: translateY(4px);
}
.footer {
    padding-left: 10px;
    bottom: 10px;
    margin-bottom: -50px;
    font-weight: bolder;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: antiquewhite;
}